@import 'libs/reset';
@import 'base/fonts';
@import 'base/variables';
@import 'base/animations';

* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $bg-body;
}




